body {
  background: url('/lesson10/img/felix-macleo.jpg') no-repeat center
    center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.weather-card {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 5px 5px rgba(7, 7, 7, 0.529);
}
h1,
p,
h2,
figure {
  padding: 5px;
}
