* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* header navbar */
header {
  background-color: #ffffff;

  display: inline-block;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto;
}
ul {
  display: flex;
  flex-direction: column;
}
ul li {
  list-style-type: none;
  padding: 20px;
}
ul a {
  text-decoration: none;
  color: #54843c;
  text-transform: uppercase;
  font-weight: bold;
}

.menu {
  position: fixed;
  flex-direction: column;
  background-color: #f4fcef;
  text-align: center;
  transition: 0.3s;
  left: -100%;
  width: 100%;
  top: 100px;
  z-index: 2;
  padding: 20px;
}
.menu.active {
  left: 0;
}

.social-links {
  display: none;
}
/* burger menu */
.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px 0;
  background-color: #54843c;
  transition: all 0.3s ease;
}
.burger-menu {
  cursor: pointer;
}
.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.burger-menu.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
/* social media */
.social-links img {
  height: 30px;
}

/* Showcase Hero */

h2 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin: 100px 0 30px 0;
  color: #54843c;
}

.showcase img {
  filter: brightness(70%);
  height: auto;
  width: 100%;
  object-fit: cover;
}
.call-action {
  position: absolute;
  top: 40px;
  left: 30px;
}
.call-action h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 8px #565656;
}
.call-action p {
  top: 80px;
  position: absolute;
  letter-spacing: 2px;
  border-bottom: 3px #fff solid;
  text-shadow: 2px 2px 8px #565656;
  color: #fff;
}
.btn-light {
  background-color: #fff;
  color: #54843c;
  font-weight: bolder;
  font-size: smaller;
  padding: 10px;
  width: 100px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: #000000 1px 2px 30px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.btn-light:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

/* Our products */
.title-products {
  text-align: center;
}
.products {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
}
.cards {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.card-product {
  min-width: 375px;
  background-color: #f4fcef;
  text-align: center;
  border-radius: 15px;
  margin: 40px;
  box-shadow: 1px 8px 5px #ccc;
}
.card-product img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bot-card-product {
  padding: 20px;
}
.bot-card-product h3 {
  color: #ec9c05;
  text-transform: uppercase;
  padding: 20px;
  font-size: 1.4rem;
}
.n-display {
  display: none;
}
.social-links.footer {
  display: block;
}
.btn {
  background-color: #54843c;
  padding: 10px;
  width: 140px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-bottom: 4px #002900 solid;
  transition: all ease-in-out 0.3s;
  color: #fff;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
  transform: translateY(4px);
  border: #54843c;
}
.btn a {
  text-decoration: none;
  color: #fff;
}

/* ads Feel better */
.feel-better img {
  width: 100%;
  height: auto;
}

/* About us */
.about-us {
  text-align: center;
  padding: 30px;
  position: relative;
}
.about-us h2 {
  margin-bottom: 50px;
}
.top-about {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.top-about p:nth-child(1) {
  color: #54843c;
  font-weight: bold;
  margin-bottom: 20px;
}

.bot-about img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ad7205;
  margin-top: 40px;
}
.contact-us img {
  width: 50px;
  height: auto;
  border: #54843c 4px solid;
}
.contact-us {
  display: flex;
  flex-direction: column;
}

.leaf {
  position: absolute;
  z-index: -3;
  width: 250px;
}
.leaf.s2 {
  transform: rotateZ(-45deg);
  left: -50px;
}
.leaf.s1 {
  transform: rotateY(180deg);
  bottom: 300px;
  right: -110px;
}
.leaf.s3 {
  transform: rotateZ(-15deg);
  left: -140px;
  bottom: -10px;
}
/* Fresh page */
section {
  text-align: center;
  background-color: #f4fcef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%2354843c' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}
.form-card {
  background-color: #fff;
  max-width: 400px;
  text-align: center;
  width: 100%;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.form-control {
  margin: 20px 0;

  position: relative;
}
.form-card input[type='text'],
.form-card input[type='tel'],
.form-card input[type='email'] {
  border: 0;
  border-bottom: 1px solid #002900;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.form-card input {
  margin-bottom: 20px;
}
.fruit-options {
  text-align: center;
  width: 140px;
  height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: #000000 2px solid;
}
.delete-li {
  font-weight: bolder;
  color: red;
  cursor: pointer;
}
/* location */
.location {
  text-align: center;
  margin-bottom: 40px;
}

/* Footer */
footer {
  background-color: #54843c;
  text-align: center;
  color: #fff;
}
