@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.344);
  }
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .social-links {
    display: block;
  }
  nav {
    display: flex;
  }
  .menu {
    align-items: center;
    background-color: transparent;
    position: unset;
    margin-right: 140px;
  }
  .menu ul {
    flex-direction: row;
  }
  .menu ul a {
    color: aliceblue;
  }
  .menu li div {
    width: 5px;
    height: 5px;
    background-color: whirte;
    margin-bottom: 5px;
    border-radius: 50%;
  }

  .menu li a:hover::before {
    content: '';
    position: absolute;
    background-color: aliceblue;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 483px;
    top: 85px;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

  .burger-menu {
    display: none;
  }

  /* showcase */
  .container {
    width: 1100px;
  }
  .showcase {
    height: 100vh;
  }
  /* products */
}
